/*<img class="kitty-1" src="images/kitty-1.png" alt="Kitty 1">/* Select the image with a class of kitty-1 */

.kitty-1 {
  position: absolute;
  z-index: 1;
  top: 276px;
  left: 129px;
}

/*<img id="kitty-2" src="images/kitty-2.png" alt="Kitty 2">*/

#kitty-2 {
  position: absolute;
  z-index: 2;
  top: 212px;
  left: 369px;
}

/*<div id="basket">
  <img src="images/kitty-3.png" alt="kitty 3">
</div>*/

#basket {
  position: absolute;
  z-index: 5;
  top: 291px;
  left: 319px;
}

/*<div id="ball"></div>
<img src="images/kitty-4.png" alt="kitty 4">/* Select the image based on it being a sibling that follows immediately after the element with an id of ball (using adjacent sibling selector) */

#ball + img {
  position: absolute;
  z-index: 4;
  top: 260px;
  left: 455px;
}

  /*<img src="images/kitty-5.png" alt="Kitty 5">/* Select the image that has an attribute value matching "Kitty 5" (using attribute selector) */

img[alt="Kitty 5"]{
  position: absolute;
  z-index: 3;
  top: 217px;
  left: 223px;
}
